.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background-color: black;
}

.links {
  display: flex;
  text-decoration: none;
  color: #fff;
  align-items: center;
}

.active {
  text-decoration: underline;
  background-color: red;
  transition: 0.3s ease-in-out;
}

@media (min-width: 1024px) {
  .hamburger {
    display: none;
  }
}

@media (max-width: 768px) {
  .links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 89px;
    right: 16px;
    background-color: #444;
    transition: 0.3s ease-in-out;
  }
  .active1 {
    display: none;
    transition: 0.3s ease-in-out;
  }
}
