.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background-color: black;
  flex: 1;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.links {
  display: flex;
  text-decoration: none;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
}

.links a {
  padding: "8px 32px";
  color: "white !important";
  &:hover {
    color: #ffdb00;
    background-color: #404040;
    transition: 0.3s ease-in-out;
  }
}

.active {
  /* text-decoration: underline; */
  color: #ffdb00;
  background-color: #404040;
  transition: 0.3s ease-in-out;
}

@media (min-width: 1024px) {
  .hamburger {
    display: none;
  }
}

@media (max-width: 768px) {
  .links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 16px;
    background-color: black;
    transition: 0.3s ease-in-out;
    color: #fff;
    z-index: 3;
  }
  .active1 {
    display: none;
    transition: 0.3s ease-in-out;
  }
  .hamburger {
    color: #fff;
  }
}
